.advantages {
  width: 100%;
}

.advantages__list {
  @include list;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.advantages__item {
  &--blue {
    color: #ffffff;
    background: $primary-color;
  }

  &--gray {
    background: $secondary-color;

    .advantages__title {
      padding-top: 26px;
    }
  }
}

.advantages__image {
  height: 260px;
}

.advantages__list li:nth-of-type(1),
.advantages__list li:nth-of-type(2) {
  order: -4;
}

.advantages__list li:last-of-type {
  order: -3;
}

.advantages__title {
  @include font-title-mobile;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 45px;

  &--sublist {
    margin: 0;
    padding-top: 34px;
  }
}

.advantages__description {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 39px;

  &--gray {
    color: $text-color_2;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 28px;
  }

  &--sublist {
    width: 208px;
    margin: 0;
    padding-top: 15px;
  }
}

.advantages__sublist {
  @include list;
  padding-left: 70px;
  padding-bottom: 39px;
  text-align: left;
  background-color: $background-color-2;
}

.advantages__sublist .advantages__description {
  padding-left: 0;
  padding-top: 15px;
}

@media (min-width: $tablet-width) {
  .advantages__item {
    &--blue {
      width: 33.3334%;
    }

    &--gray {
      padding-top: 45px;
      padding-bottom: 16px;
      width: 33.3334%;

      .advantages__title {
        padding-top: 0;
      }
    }

    &--house,
    &--souvenirs,
    &--food {
      padding-top: 160px;
      padding-bottom: 60px;
      width: 256px;
    }
  }

  .advantages__list li:nth-of-type(4) {
    order: -2;
  }

  .advantages__list li:nth-of-type(3) {
    order: -1;
  }

  .advantages__title {
    @include font-title;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 52px;
    width: 151px;

    &--sublist {
      @include font-title;
      margin: 0 auto;
      padding-top: 0;
      padding-bottom: 5px;
      width: 155px;
    }
  }

  .advantages__description {
    margin: 0 auto;
    width: 164px;

    &--sublist {
      margin: 0 auto;
      width: 164px;
    }
  }

  .advantages__image {
    width: 66.6667%;
    height: 256px;
  }

  .advantages__sublist {
    @include center;
    padding-left: 0;
    padding-bottom: 1px;
  }

  .advantages__sublist li:nth-of-type(2) {
    order: 3;
  }

  .advantages__item--food .advantages__description {
    padding: 0 50px;
  }
}

@media (min-width: $desctop-width) {
  .advantages__item {
    &--blue {
      width: 400px;
    }

    &--house,
    &--souvenirs,
    &--food {
      padding-bottom: 61px;
      width: 33%;
    }

    &--gray {
      padding-bottom: 38px;
    }
  }

  .advantages__image {
    width: 800px;
    height: 255px;
  }

  .advantages__title {
    padding-top: 52px;
  }

  .advantages__description {
    width: 267px;

    &--blue {
      width: 235px;
    }

    &--gray {
      width: 283px;
    }

    &--sublist {
      width: 287px;
    }
  }

  .advantages__sublist {
    width: 1200px;
    padding-bottom: 22px;
  }
}
