.advantages {
  width: 100%;
  background: $primary-color;
}

@media (max-width: 767px) and (min-width: 321px) {
  .advantages__trangle {
    display: none;
  }
}

.advantages__list {
  @include list;
  margin-top: -5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  counter-reset: number;
  background: $primary-color;
}

.advantages__item {
  position: relative;
  width: 100%;
  background: $base-color;

  &--blue, {
    color: #ffffff;
    background: $primary-color;

    .advantages__title {
      @include font-title-mobile;
      font-weight: 700;
      margin: 0;
      padding-top: 39px;
      padding-bottom: 13px;
    }
  }

  &--gray {
    background: $secondary-color;

    .advantages__title {
      @include font-title-mobile;
      font-weight: 700;
      margin: 0;
      padding-top: 26px;
      padding-bottom: 13px;
    }
  }
}

.advantages__br {
  display: none;
}

.advantages__image {
  height: 260px;
}

.advantages__list li:nth-of-type(1),
.advantages__list li:nth-of-type(2) {
  order: -4;
}

.advantages__list li:last-of-type {
  order: -3;
}

.advantages__title::after {
  display: block;
  counter-increment: number;
  content: "– №" counter(number) " – ";
  margin-top: 6px;
  font-weight: 400;
  font-size: 14px;
}

.advantages__sublist {
  @include list;
  width: 179px;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 36px;

  .advantages__title {
    @include font-title-mobile;
    font-weight: 700;
    margin: 0;
    padding-top: 35px;

    &::after {
      display: none;
    }

    &--house {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 39px;
        height: 39px;
        top: 26px;
        left: -49px;
        background-image: url("../img/symbol-house.svg");
        background-repeat: no-repeat;
      }
    }

    &--souvenirs {
      position: relative;
      padding-top: 28px;

      &::before {
        position: absolute;
        content: "";
        width: 39px;
        height: 39px;
        top: 16px;
        left: -45px;
        background-image: url("../img/symbol-gift.svg");
        background-repeat: no-repeat;
      }
    }

    &--food {
      position: relative;
      padding-top: 27px;

      &::before {
        position: absolute;
        content: "";
        width: 39px;
        height: 39px;
        top: 23px;
        left: -51px;
        background-image: url("../img/symbol-burger.svg");
        background-repeat: no-repeat;
      }
    }
  }
}

.advantages__description {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 39px;

  &--gray {
    color: $text-color_2;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 28px;
  }
}

.advantages__description-sublist {
  width: 208px;
  margin: 0;
  padding-top: 15px;
}

.advantages__sublist .advantages__description {
  padding-left: 0;
  padding-top: 15px;
}

@media (min-width: $tablet-width) {
  .advantages__trangle {
    display: none;
  }

  .advantages__description {
    margin: 0 auto;
    width: 202px;
    padding-bottom: 11px;

    &--gray {
      width: 222px;
    }
  }

  .advantages__description-sublist {
    margin: 0 auto;
    width: 164px;
    padding-top: 17px;
  }

  .advantages__list li:nth-of-type(4) {
    order: -2;
  }

  .advantages__list li:nth-of-type(3) {
    order: -1;
  }

  .advantages__item {
    &--blue, {
      width: 33.3334%;

      .advantages__title {
        @include font-title-mobile;
        width: 151px;
        font-size: 21px;
        line-height: 26px;
        font-weight: 700;
        margin: 0 auto;
        padding-top: 45px;
        padding-bottom: 20px;
      }
    }

    &--gray {
      padding-top: 45px;
      padding-bottom: 33px;
      width: 33.3334%;

      .advantages__title {
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 20px;
        width: 137px;
        font-size: 21px;
      }
    }
  }

  .advantages__br {
    display: none;
  }

  .advantages__sublist {
    @include center;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
    padding-bottom: 60px;

    .advantages__title {
      font-size: 21px;
      width: 256px;
      padding-top: 159px;
      padding-bottom: 5px;

      &--house,
      &--souvenirs,
      &--food {
        &::before {
          position: absolute;
          content: "";
          width: 75px;
          height: 75px;
          top: 59px;
          left: 86px;
        }
      }

      &--souvenirs {
        &::before {
          top: 57px;
          left: 96px;
        }
      }

      &--food {
        &::before {
          top: 63px;
          left: 89px;
        }
      }
    }

    .advantages__item {
      width: 33%;
    }
  }

  .advantages__sublist li:nth-of-type(2) {
    order: 3;
  }

  .advantages__image {
    width: 66.6667%;
    height: 256px;
  }

  .advantages__item--food .advantages__description {
    padding: 0 50px;
  }
}

@media (min-width: $desctop-width) {
  .advantages__trangle {
    display: none;
  }

  .advantages__description {
    width: 305px;

    &--blue {
      width: 276px;
    }

    &--gray {
      width: 350px;
      padding-bottom: 28px;
    }
  }

  .advantages__description-sublist {
    width: 287px;
  }

  .advantages__item {
    &--blue {
      width: 400px;

      .advantages__title {
        padding-top: 52px;
      }
    }

    &--gray {
      padding-top: 45px;
      padding-bottom: 38px;
    }

    &--souvenirs {
      .advantages__description {
        &--sublist {
          width: 218px;
        }
      }
    }
  }

  .advantages__br {
    display: block;
  }

  .advantages__image {
    width: 800px;
    height: 255px;
    overflow: hidden;
  }

  .advantages__image img {
    margin-top: -71px;
  }

  .advantages__title {
    padding-top: 52px;
    padding-bottom: 20px;
  }

  .advantages__sublist {
    width: 1200px;
    padding-bottom: 83px;

    .advantages__title {
      margin: 0 auto;
      padding-top: 160px;

      &--house {
        &::before {
          top: 60px;
          left: 86px;
        }
      }

      &--souvenirs {
        &::before {
          top: 58px;
          left: 100px;
        }
      }

      &--food {
        &::before {
          top: 64px;
          left: 91px;
        }
      }
    }
  }
}
