.advantages {
  width: 100%;
}

.advantages__list {
  @include list;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  counter-reset: number;
  background: $primary-color;
}

.advantages__item {
  position: relative;
  width: 100%;

  &--blue {
    color: #ffffff;
    background: $primary-color;
  }

  &--gray {
    background: $secondary-color;

    .advantages__title {
      padding-top: 26px;
    }
  }

  &--souvenirs {
    .advantages__title {
      &--sublist {
        padding-top: 28px;
      }
    }
  }

  &--food {
    .advantages__title {
      &--sublist {
        padding-top: 27px;
      }
    }
  }
}

.advantages__icon {
  position: absolute;
  top: 27px;
  left: -49px;

  &--souvenirs {
    top: 18px;
  }

  &--food {
    top: 23px;
    left: -51px;
  }
}

.advantages__icon svg {
  width: 39px;
  height: 37px;
  fill: $primary-color;
}

.advantages__image {
  height: 260px;
}

.advantages__list li:nth-of-type(1),
.advantages__list li:nth-of-type(2) {
  order: -4;
}

.advantages__list li:last-of-type {
  order: -3;
}

.advantages__title {
  @include font-title-mobile;
  font-weight: 700;
  margin: 0;
  padding-top: 39px;
  padding-bottom: 13px;

  &--sublist {
    @include font-title-mobile;
    font-weight: 700;
    margin: 0;
    padding-top: 35px;
  }
}

.advantages__title::after {
  display: block;
  counter-increment: number;
  content: "– №" counter(number) " – ";
  margin-top: 6px;
  font-weight: 400;
  font-size: 14px;
}

.advantages__description {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 39px;

  &--gray {
    color: $text-color_2;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 28px;
  }

  &--sublist {
    width: 208px;
    margin: 0;
    padding-top: 15px;
  }
}

.advantages__sublist {
  @include list;
  padding-left: 70px;
  padding-bottom: 37px;
  text-align: left;
  background-color: $background-color-2;
}

.advantages__sublist .advantages__description {
  padding-left: 0;
  padding-top: 15px;
}

@media (min-width: $tablet-width) {
  .advantages__item {
    &--blue {
      width: 33.3334%;
    }

    &--gray {
      padding-top: 45px;
      padding-bottom: 33px;
      width: 33.3334%;

      .advantages__title {
        padding-top: 0;
      }
    }

    &--house,
    &--souvenirs,
    &--food {
      width: 256px;
      padding-top: 131px;
    }
  }

  .advantages__list li:nth-of-type(4) {
    order: -2;
  }

  .advantages__list li:nth-of-type(3) {
    order: -1;
  }

  .advantages__title {
    @include font-title;
    font-weight: 700;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 20px;
    width: 151px;

    &--sublist {
      @include font-title;
      font-weight: 700;
      margin: 0 auto;
      padding-top: 3px;
      padding-bottom: 5px;
      width: 155px;
    }
  }

  .advantages__description {
    margin: 0 auto;
    width: 202px;
    padding-bottom: 11px;

    &--sublist {
      margin: 0 auto;
      width: 164px;
      padding-top: 17px;
    }

    &--gray {
      width: 222px;
    }
  }

  .advantages__image {
    width: 66.6667%;
    height: 256px;
  }

  .advantages__sublist {
    @include center;
    align-items: baseline;
    padding-left: 0;
    padding-bottom: 60px;
  }

  .advantages__sublist li:nth-of-type(2) {
    order: 3;
  }

  .advantages__item--food .advantages__description {
    padding: 0 50px;
  }

  .advantages__icon {
    &--house {
      top: 35px;
      left: 90px;
    }

    &--souvenirs {
      top: 59px;
      left: 89px;
    }

    &--food {
      top: 61px;
      left: 90px;
    }
  }

  .advantages__icon svg {
    width: 75px;
    height: 72px;
  }
}

@media (min-width: $desctop-width) {
  .advantages__description {
    width: 305px;

    &--blue {
      width: 276px;
    }

    &--gray {
      width: 350px;
      padding-bottom: 28px;
    }

    &--sublist {
      width: 287px;
    }
  }

  .advantages__item {
    &--blue {
      width: 400px;
    }

    &--house,
    &--souvenirs,
    &--food {
      padding-bottom: 61px;
      width: 33%;
    }

    &--gray {
      padding-bottom: 38px;
    }

    &--souvenirs {
      .advantages__description {
        &--sublist {
          width: 218px;
        }
      }
    }
  }

  .advantages__image {
    width: 800px;
    height: 255px;
    overflow: hidden;
  }

  .advantages__image img {
    margin-top: -71px;
  }

  .advantages__title {
    padding-top: 52px;
    padding-bottom: 20px;
  }

  .advantages__sublist {
    width: 1200px;
    padding-bottom: 22px;
  }

  .advantages__icon {
    &--house {
      top: 36px;
      left: 155px;
    }

    &--souvenirs {
      top: 60px;
      left: 164px;
    }

    &--food {
      top: 62px;
      left: 161px;
    }
  }
}
