html  {

}

body  {
  @include center;
  margin: 0;
  font-family: $font-primary;
  font-size: $font-size;
  line-height: $line-height;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden  {
  display: none;
}

.button  {
  display: block;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

