.gallery {
  width: 100%;
  padding-top: 12px;
  background-color: $background-color-2;
}

.gallery__item {
  margin-top: -3px;
  padding: 0 20px;
  padding-top: 23px;
  padding-bottom: 18px;
  border-top: 1px solid $input-color-hover;

  &--full-width {
    padding-top: 22px;

    .gallery-item__footer {
      margin-bottom: -3px;
    }

    .gallery__image {
      padding-bottom: 11px;
    }
  }
}

.gallery__image {
  display: block;
  padding-bottom: 9px;
}

.gallery-item__footer .button {
  padding: 0;
}

.gallery-item__caption {
  @include font-title-mobile;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.gallery-item__author {
  margin: 0;
  padding-bottom: 11px;
  line-height: 22px;
  color: $text-color_2;
  text-transform: none;
}

.gallery__button {
  width: 23px;
  height: 21px;
  fill: $background-active-logo;

  &:focus {
    outline: 1px solid #ffffff;
  }
}

.gallery-item__counter {
  font-weight: 700;
  line-height: 24px;
  padding-left: 10px;
}

@media (min-width: $tablet-width) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
  }

  .gallery__image {
    margin: 0;
    padding: 0;
    height: 268px;
  }

  .gallery-item__footer {
    display: flex;
    justify-content: space-between;
    background-color: $background-color-1;
    padding: 0 20px;
    padding-top: 15px;
    padding-bottom: 7px;
  }

  .gallery__item {
    margin: 0;
    width: 324px;
    padding: 0;
    border: none;

    &--full-width {
      width: 648px;
      margin-top: -6px;
      padding-bottom: 4px;

      .gallery-item__footer {
        padding: 0 20px;
        padding-top: 148px;
        padding-bottom: 6px;
        align-items: center;
      }

      .gallery-item__like {
        padding-top: 0;
        padding-right: 1px;
      }
    }
  }

  .gallery-item__like {
    padding-top: 12px;
    padding-right: 10px;
  }

  .gallery-item__counter {
    padding-left: 4px;
  }
}

@media (min-width: $desctop-width) {
  .gallery {
    padding: 0;
  }

  .gallery__item {
    position: relative;
    width: 400px;

    &--full-width {
      position: relative;
      width: 100%;
      margin-top: -4px;
      padding-bottom: 131px;

      .gallery-item__footer {
        position: absolute;
        width: 100%;
        padding-top: 14px;
      }

      .gallery-item__author {
        padding-bottom: 17px;
      }

      .gallery-item__info {
        padding-right: 2px;
      }

      .gallery-item__like {
        margin-top: -7px;
      }
    }
  }

  .gallery-item__footer {
    position: absolute;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 10px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .gallery-item__caption,
  .gallery-item__author,
  .gallery-item__counter {
    color: $background-color-1;
  }

  .gallery__button {
    fill: $base-color;
  }
}
