.gallery {
  padding-bottom: 25px;
  width: 100%;
  border: $border;
}

.gallery__image {
  margin: 20px 0;
}

.gallery-item__caption {
  font-family: "PTSans_bold", "Arial", sans-serif;
  line-height: 24px;
}

.gallery-item__author {
  margin: 15px 0;
  line-height: 22px;
  color: $text-color_2;
  text-transform: none;
}
