.gallery {
  width: 100%;
  padding-top: 10px;
  background-color: $background-color-2;
}

.gallery__item {
  padding-bottom: 20px;
}

.gallery__image {
  display: block;
  padding: 20px;
  padding-bottom: 15px;
}

.gallery-item__footer {
  padding: 0 20px;
}

.gallery-item__caption {
  font-family: "PTSans_bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.gallery-item__author {
  margin: 0;
  padding-bottom: 11px;
  line-height: 22px;
  color: $text-color_2;
  text-transform: none;
}

@media (min-width: $tablet-width) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery__image {
    margin: 0;
    padding: 0;
    height: 268px;

    &--top {
      height: 400px;
    }
  }

  .gallery-item__footer {
    display: flex;
    justify-content: space-between;
    background-color: $background-color-1;
    padding-top: 15px;
    padding-bottom: 7px;

    &--top {
      padding-bottom: 8px;
    }
  }

  .gallery__item {
    width: 324px;
  }

  .gallery .gallery__item:nth-child(even) {
    padding: 0;
    padding-left: 60px;
  }

  .gallery .gallery__item:nth-child(odd) {
    padding: 0;
    padding-right: 60px;
  }

  .gallery .gallery__item:first-child {
    width: 648px;
    margin-top: -16px;
    padding: 0 60px;
  }
}

@media (min-width: $desctop-width) {
  .gallery {
    padding-top: 0;
  }

  .gallery .gallery__item:nth-child(even),
  .gallery .gallery__item:nth-child(odd) {
    width: 400px;
    padding: 0;
  }

  .gallery .gallery__item:first-child {
    width: 1200px;
    margin-top: -3px;
    padding: 0;
  }

  .gallery__item {
    position: relative;
  }

  .gallery-item__footer {
    position: absolute;
    width: 360px;
    bottom: 0;
    background-color: rgba(242, 242, 242, 0.3);

    &--top {
      width: 1160px;
    }
  }

  .gallery-item__caption,
  .gallery-item__author {
    color: $background-color-1;
  }

  .gallery__button {
    color: $background-color-1;
  }
}
