.modal {
  @include center;
  width: 100%;
  padding-bottom: 35px;
  border: $border;
}

.modal__title {
  @include font-title;
  margin-top: 60px;
  margin-bottom: 5px;
}

.modal__text {
  margin: 30px 50px;
  line-height: 24px;
}

.modal__button {
  @include font-title;
  width: 180px;
  padding: 16px 0;
  text-decoration: none;
  background: $primary-color;
  color: #ffffff;
}

.modal__button--success {
  width: 280px;
}
