.page-footer  {
  @include center;
}

.page-footer__hashtag  {
  @include font-title;
  margin: 40px 0;
  font-size: 21px;
  text-decoration: none;
  color: #000000;
}

.social__list  {
  display: flex;
  @include list;
  padding-bottom: 50px;
}

.social__item  {
  @include center;
  width: 45px;
  height: 45px;
  margin-right: 7px;
  background: $background;
}

.page-footer__copyright  {
  margin-bottom: 35px;
}

.copyright__text {
  line-height: 26px;
}
