.page-footer {
  background-color: $background-color-2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 80px;
  padding-top: 56px;
  padding-bottom: 30px;
}

.page-footer__hashtag {
  @include font-title;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.page-footer__social {
  padding-top: 37px;
  padding-bottom: 45px;
}

.social__list {
  @include list;
  display: flex;
}

.social__item {
  width: 45px;
  height: 45px;
  background: $primary-color;
}

.social__link {
  display: block;
  margin: 11px;
  width: 23px;
  height: 23px;
  background: $social-icon-hover;
}

.social__list li {
  margin-right: 8px;
}

.social__list li:last-of-type {
  margin-right: 0;
}

.copyright__text {
  line-height: 26px;
  padding-right: 11px;
}

.copyright__link {
  &:hover path {
    fill: $primary-color;
  }

  &:active path {
    fill: $background-active-logo;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding: 0;
    justify-content: space-between;
    padding-left: 61px;
    padding-right: 61px;
    padding-top: 34px;
    padding-bottom: 39px;
  }

  .page-footer__hashtag {
    padding-top: 0;
    padding-left: 0;
  }

  .page-footer__social {
    margin: 0;
    padding: 0;
    padding-left: 19px;
    margin-left: -18px;
  }

  .page-footer__copyright {
    display: flex;
    align-items: center;
  }

  .copyright__text {
    padding-right: 13px;
  }
}

@media (min-width: $desctop-width) {
  .page-footer {
    padding: 0;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 32px;
    padding-bottom: 39px;
  }

  .page-footer__social {
    margin-left: -6px;
  }

  .page-footer__hashtag {
    padding-top: 10px;
  }

  .social__list {
    padding-top: 7px;
    margin-left: -11px;
  }

  .page-footer__copyright {
    padding-top: 9px;
  }
}
