.presentation {
  width: 100%;
  padding-top: 35px;
  text-align: center;
  background-color: $background-color-2;
}

.presentation__title {
  @include font-title-mobile;
  margin: 0;
  padding-bottom: 35px;
}

.presentation__description {
  margin: 0;
  padding: 0 40px;
  line-height: 24px;
}

.presentation__video-wrapper {
  padding-top: 35px;
}

@media (min-width: $tablet-width) {
  .presentation {
    padding-top: 65px;
  }

  .presentation__title {
    font-size: 30px;
  }

  .presentation__description {
    padding: 0 170px;
  }

  .presentation__video-wrapper {
    padding-top: 75px;
  }
}
