.presentation {
  width: 100%;
  border: 2px solid #000000;
}

.presentation__title {
  @include font-title-mobile;
  margin: 35px 0;
}

.presentation__description {
  margin-left: 0;
  margin-bottom: 45px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .presentation {
    @include center;
    flex-direction: column;
  }

  .presentation__description {
    width: 420px;
  }
}
