.promo {
  padding-bottom: 30px;
  background-color: $background-color-2;
}

.promo__title {
  @include font-title-mobile;
  margin: 0;
  padding-top: 40px;
  padding-right: 26px;
  padding-left: 26px;
  padding-bottom: 20px;
  text-align: center;
}

.promo__description {
  margin: 0 auto;
  padding: 0 25px;
  text-align: center;
  line-height: 26px;
  color: $text-color_2;
}

@media (min-width: $tablet-width) {
  .promo {
    padding-bottom: 15px;
  }

  .promo__title {
    @include font-title;
    padding-top: 50px;
    padding-bottom: 35px;
  }

  .promo__description {
    width: 435px;
  }
}

@media (min-width: $desctop-width) {
  .promo__title {
    padding-top: 110px;
  }
}
