.reviews {
  padding-bottom: 38px;
  background-color: $background-color-2;
}

.reviews__form {
  width: 100%;
  text-align: center;
}

.reviews-form__group {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 7px;
  width: 280px;
  border: none;
  line-height: 26px;

  &--impression {
    padding-bottom: 0;
  }

  &--landmarks {
    .reviews-form__title {
      padding-bottom: 33px;
    }
  }
}

.reviews-form__title {
  @include font-title-mobile;
  padding: 16px 0;
  padding-bottom: 20px;

  &--impression {
    padding-top: 26px;
  }

  &--landmarks {
    padding-top: 26px;
  }

  &--textarea {
    padding-top: 4px;
  }

  &--line {
    width: 100%;
    border-top: 1px solid $input-color-hover;
  }
}

.reviews-form__list {
  @include list;

  &--impression {
    padding-top: 18px;
  }
}

.reviews-form__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;

  &--contacts {
    display: block;
    padding-bottom: 21px;
    text-align: left;

    .reviews-form__input {
      margin: 0;
    }
  }

  &--impression {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 43px;
  }

  &--landmarks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: none;
    padding-bottom: 54px;
  }

  &--landmarks:last-of-type {
    padding-bottom: 35px;
  }
}

.reviews-form__label {
  line-height: 26px;
  color: $text-color_2;

  &--phone {
    padding-left: 31px;
  }

  &--email {
    padding-left: 31px;
  }
}

.reviews-form__label-radio {
  @include font-title-mobile;
  text-transform: none;
  padding-left: 77px;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.reviews-form__label-checkbox {
  @include font-title-mobile;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 78px;
}

.reviews-form__input {
  @include font-title-mobile;
  width: 100%;
  flex-grow: 1;
  margin-left: 15px;
  padding: 18px 20px;
  background: $input-color-1;
  border: none;
  color: #000000;
  text-transform: none;

  &:hover {
    background: $input-color-hover;
  }

  &:focus {
    outline: none;
    background: $background-color-2;
    box-shadow: inset $input-color-hover 0 0 0  4px;
  }
}

.reviews-form__input-radio + label {
  &::before {
    position: absolute;
    content: "";
    width: 56px;
    height: 56px;
    left: 0;
    top: -14px;
    border-radius: 50%;
    background: $background-color-1;
  }
}

.reviews-form__input-radio:checked + label {
  &::after {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    left: 17px;
    top: 3px;
    border-radius: 50%;
    background: $text-color_2;
  }
}

.reviews-form__input-checkbox + label {
  &::before {
    position: absolute;
    content: "";
    width: 56px;
    height: 55px;
    left: 0;
    top: -14px;
    border-radius: 10%;
    background: $background-color-1;
  }
}

.reviews-form__input-checkbox:checked + label {
  &::after {
    position: absolute;
    content: "";
    width: 21px;
    height: 14px;
    left: 16px;
    top: 3px;
    border-left: 4px solid #000000;
    border-bottom: 4px solid #000000;
    background: transparent;
    transform: rotate(-45deg);
  }
}

.reviews-form__textarea {
  @include font-title-mobile;
  width: 280px;
  height: 157px;
  padding-top: 16px;
  padding-left: 18px;
  padding-right: 25px;
  color: #000000;
  background: $input-color-1;
  outline: none;
}

.reviews-form__button {
  @include font-title-mobile;
  margin-top: 37px;
  width: 280px;
  padding: 16px 0;
  font-size: 21px;
  text-decoration: none;
  background: $primary-color;
  color: #ffffff;

  &:hover {
    background: $background-hover;
  }

  &:active {
    background: $background-active;
    color: $color-hover;
  }
}

.reviews-form__description {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-bottom: 65px;
  }

  .reviews-form {
    @include center;
    align-items: flex-start;
  }

  .reviews-form__group {
    width: 308px;

    &--name {
      text-align: left;
      padding-right: 24px;
    }

    &--impression {
      order: -1;
    }

    &--contacts {
      padding: 0 59px;
      padding-bottom: 26px;
      width: 100%;

      .reviews-form__title {
        padding-top: 35px;
        padding-bottom: 24px;
      }
    }

    &--landmarks {
      width: 100%;
      padding-bottom: 21px;

      .reviews-form__title {
        width: 290px;
        padding-bottom: 11px;
      }
    }

    &--textarea {
      .reviews-form__title {
        padding-bottom: 58px;
      }
    }
  }

  .reviews-form__title {
    font-size: 21px;
    padding: 0;
    padding-bottom: 50px;
    padding-left: 17px;

    &--line {
      border-top: none;
    }
  }

  .reviews-form__list {
    &--impression {
      @include center;
      padding-top: 21px;
    }

    &--landmarks {
      @include center;
      margin: 0 auto;
      padding-top: 45px;
      text-align: left;
    }
  }

  .reviews-form__item {
    padding-left: 0;

    &--name {
      padding-left: 0;

      .reviews-form__input {
        padding: 18px 20px;
      }
    }

    &--contacts {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 23px;

      .reviews-form__input {
        padding: 18px 20px;
      }
    }

    &--landmarks {
      width: 259px;
      padding-left: 71px;
      padding-bottom: 62px;
    }

    &--landmarks:last-of-type {
      margin-top: -27px;
    }

    &--impression {
      padding-bottom: 52px;
      padding-left: 68px;
    }
  }

  .reviews-form__label {
    padding-left: 20px;

    &--phone,
    &--email {
      padding-left: 20px;
      padding-bottom: 5px;
    }
  }

  .reviews-form__label-radio {
    padding-left: 0;
  }

  .reviews-form__label-checkbox {
    padding-left: 38px;
  }

  .reviews-form__input {
    &--phone,
    &--email {
      margin: 0;
      width: 630px;
    }

    &--name {
      width: 216px;
    }
  }

  .reviews-form__textarea {
    width: 650px;
    padding: 0;
    padding-top: 16px;
    padding-left: 40px;
  }

  .reviews-form__button {
    width: 325px;
    margin-top: 46px;
    margin-left: 0;
  }

  .reviews-form__description {
    display: block;
    font-family: $font-primary;
    font-size: $font-size;
    line-height: 26px;
    padding-top: 48px;
  }

  .reviews__wrapper {
    width: 649px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .reviews-form__input-radio + label {
    &::before {
      left: -75px;
    }
  }

  .reviews-form__input-radio:checked + label {
    &::after {

      left: -58px;
    }
  }

  .reviews-form__input-checkbox + label {
    &::before {
      left: -40px;
      top: -14px;
    }
  }

  .reviews-form__input-checkbox:checked + label {
    &::after {
      left: -22px;
      top: 3px;
    }
  }
}

@media (min-width: $desctop-width) {
  .desctop-hidden {
    display: none;
  }

  .reviews-form__group {
    &--name {
      width: 421px;
      text-align: left;
      padding-right: 16px;

      .reviews-form__title {
        padding-left: 5px;
      }
    }

    &--contacts {
      padding-bottom: 27px;

      .reviews-form__title {
        padding-top: 33px;
        padding-bottom: 71px;
      }
    }

    &--impression {
      @include center;
      width: 369px;
      text-align: right;
    }

    &--landmarks {
      .reviews-form__title {
        padding-left: 2px;
      }
    }

    &--textarea {
      .reviews-form__title {
        padding-left: 0;
      }
    }
  }

  .reviews-form__list {
    &--contacts {
      @include center;
      justify-content: space-between;
      padding: 0 62px;
      padding-top: 47px;
    }

    &--landmarks {
      width: 962px;
      padding-top: 47px;
      padding-left: 15px;
      justify-content: space-between;
    }
  }

  .reviews-form__item {
    &--name {
      padding-left: 0;
    }

    &--impression {
      padding-left: 10px;
    }

    &--contacts {
      width: 50%;
      flex-wrap: nowrap;
    }

    &--landmarks {
      padding-left: 28px;
      width: auto;
    }
  }

  .reviews-form__label {
    padding-left: 6px;

    &--phone {
      padding-left: 0;
      padding-top: 21px;
      padding-right: 16px;
    }

    &--email {
      padding-left: 0;
      padding-right: 19px;
    }
  }

  .reviews-form__textarea {
    width: 960px;
  }

  .reviews-form__button {
    width: 480px;
    margin-top: 44px;
  }

  .reviews__wrapper {
    width: 959px;
  }
}
