.reviews {
  padding-bottom: 50px;
  background-color: $background-color-2;
}

.reviews__form {
  width: 100%;
}

.reviews-form__group {
  border: none;
  line-height: 26px;
  text-align: center;
}

.reviews-form__title {
  @include font-title-mobile;
  padding: 25px 0;
}

.reviews-form__list {
  @include list;

  &--impression,
  &--landmarks {
    text-align: left;
    padding-left: 30px;
  }
}

.reviews-form__item {
  padding-bottom: 20px;
}

.reviews-form__label {
  line-height: 26px;
  color: $text-color_2;
}

.reviews-form__input {
  @include font-title-mobile;
  margin-left: 9px;
  padding: 18px 0;
  padding-left: 20px;
  background: $input-color-1;
  border: none;
  color: #000000;
  text-transform: none;

  &--name {
    width: 209px;
  }

  &--surname,
  &--patronymic {
    width: 169px;
  }

  &--phone,
  &--email {
    width: 257px;
  }
}

.reviews-form__label-radio {
  @include font-title-mobile;
  text-transform: none;
}

.reviews-form__label-checkbox {
  @include font-title-mobile;
  text-transform: none;
}

.reviews-form__textarea {
  @include font-title-mobile;
  width: 280px;
  height: 160px;
  color: #000000;
  background: $input-color-1;
}

.reviews-form__button {
  @include font-title-mobile;
  margin-top: 50px;
  margin-left: 20px;
  width: 280px;
  padding: 16px 0;
  font-size: 21px;
  text-decoration: none;
  background: $primary-color;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .reviews-form {
    @include center;
    align-items: flex-start;
  }

  .reviews-form__group {
    &--impression {
      order: -1;
    }

    &--contacts {
      padding-bottom: 50px;
      width: 100%;
    }
  }

  .reviews-form__title--textarea {
    padding: 60px 0;
  }

  .reviews-form__title {
    &--landmarks {
      padding: 0 240px;
    }
  }

  .reviews-form__list {
    &--landmarks {
      @include center;
      margin: 0 auto;
      padding-top: 45px;
      width: 500px;
      text-align: left;
    }
  }

  .reviews-form__item {
    &--contacts {
      display: flex;
      flex-wrap: wrap;
      padding: 0 60px;
      padding-bottom: 30px;
    }

    &--landmarks {
      width: 220px;
    }
  }

  .reviews-form__label {
    &--phone,
    &--email {
      padding-left: 20px;
    }
  }

  .reviews-form__input {
    &--phone,
    &--email {
      margin: 0;
      width: 630px;
    }
  }

  .reviews-form__textarea {
    width: 650px;
  }

  .reviews-form__button {
    width: 325px;
  }
}

@media (min-width: $desctop-width) {
  .reviews-form__list {
    &--contacts {
      @include center;
    }

    &--landmarks {
      width: 1200px;
    }
  }

  .reviews-form__textarea {
    width: 960px;
  }

  .reviews-form__button {
    width: 480px;
  }
}
