.search {
  width: 100%;
  padding-bottom: 45px;
  text-align: center;
  background-color: $background-color-2;
}

.search__title {
  @include font-title;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 20px;
}

.search__description {
  width: 262px;
  margin: 0 auto;
  padding-bottom: 36px;
  line-height: 24px;
  color: $text-color_2;
}

.search__button {
  @include font-title-mobile;
  font-size: 21px;
  width: 280px;
  padding: 16px 0;
  background: $primary-color;
  color: #ffffff;
  cursor: pointer;

  &:hover {
    background: $background-hover;
  }

  &:active {
    background: $background-active;
    color: $color-hover;
  }
}

@media (min-width: $tablet-width) {
  .search {
    padding-bottom: 55px;
  }

  .search__title {
    padding-top: 55px;
    padding-bottom: 31px;
    font-size: 30px;
  }

  .search__description {
    margin: 0 auto;
    padding-bottom: 42px;
    width: 437px;
    line-height: 24px;
  }

  .search__button {
    @include font-title;
    width: 459px;
  }
}

@media (min-width: $desctop-width) {
  .search {
    padding-bottom: 65px;
  }

  .search__description {
    padding-bottom: 47px;
  }
}
