@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans.woff"), url("../fonts/ptsans.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "PTSans bold";
  src: url("../fonts/ptsansbold.woff"), url("../fonts/ptsansbold.woff2");
  font-weight: 700;
}
